<launch>
    <arg name="rate_hz" value="100"/>

    <!-- run the px4_pos_estimator.cpp -->
    <node pkg="px4ctrl" type="px4_pos_estimator" name="px4_pos_estimator" output="screen">
        <param name="rate_hz" value="$(arg rate_hz)"/>

        <!-- 定位数据输入源 0 for vicon， 1 for 激光SLAM, 2 for gazebo , 3 for T265 -->
        <param name="input_source" value="2"/>

        <param name="offset_x" value="0"/>
        <param name="offset_y" value="0"/>
        <param name="offset_z" value="0"/>
    </node>

    <!-- 启动uav_control_main -->
    <node pkg="px4ctrl" type="px4ctrl" name="px4ctrl" output="screen" launch-prefix="gnome-terminal --">
        <param name="rate_hz" value="$(arg rate_hz)"/>

        <rosparam command="load" file="$(find px4ctrl)/config/uav_control_indoor.yaml"/>
    </node>

    <!-- 启动虚拟摇杆驱动 -->
    <node pkg="px4ctrl" type="joy_node" name="joy_node" output="screen"/>

    <!-- run the terminal_control.cpp -->
    <node pkg="px4ctrl" type="terminal_control" name="terminal_control" output="screen" launch-prefix="gnome-terminal --">
        <rosparam command="load" file="$(find px4ctrl)/config/uav_control_indoor.yaml"/>
    </node>

<!--    <node pkg="px4ctrl" type="multirotor_communication.py" name="multirotor_communication"-->
<!--          output="screen" launch-prefix="gnome-terminal &#45;&#45;">-->
<!--    </node>-->

<!--    <node pkg="px4ctrl" type="multirotor_keyboard_control.py" name="multirotor_keyboard_control"-->
<!--          output="screen" launch-prefix="gnome-terminal &#45;&#45;">-->
<!--        <param name="control_type" type="string" value="vel"/>-->
<!--    </node>-->
</launch>
