<launch>
    <arg name="input_source" default="2"/>
    <arg name="launch_prefix" default="gnome-terminal --"/>

    <!-- 启动Prometheus代码 -->
    <group ns="uav_control">
        <!-- 启动uav_control_main -->
        <node pkg="uav_control" type="px4_pos_controller" name="px4_pos_controller" output="screen">
            <rosparam command="load" file="$(find uav_control)/config/uav_control_indoor.yaml"/>
        </node>

        <!-- 启动虚拟摇杆驱动 -->
        <node pkg="uav_control" type="joy_node" name="joy_node" output="screen">
        </node>

        <!-- run the terminal_control.cpp -->
        <node pkg="uav_control" type="terminal_control" name="terminal_control" output="screen" launch-prefix="$(arg launch_prefix)">
            <rosparam command="load" file="$(find uav_control)/config/uav_control_indoor.yaml"/>
        </node>
    </group>

    <!-- run the px4_pos_estimator.cpp -->
    <node pkg="uav_control" type="px4_pos_estimator" name="px4_pos_estimator" output="screen">
        <!--
        6 for VICON
        3 for t265
        2 for gazebo ground truth(仿真用)
        1 for 激光SLAM,
        0 for optitrack，
        -->
        <param name="input_source" value="$(arg input_source)"/>
    </node>
</launch>
