<!-- 启动Prometheus代码 -->
<launch>
    <arg name="rate_hz" value="100"/>

    <!-- run the px4_pos_estimator.cpp -->
        <node pkg="uav_control" type="px4_pos_estimator" name="px4_pos_estimator" output="screen">
            <param name="rate_hz" value="$(arg rate_hz)"/>

            <!-- 定位数据输入源 0 for vicon， 1 for 激光SLAM, 2 for gazebo , 3 for T265 -->
            <param name="input_source" value="2"/>

            <param name="offset_x" value="0"/>
            <param name="offset_y" value="0"/>
            <param name="offset_z" value="0"/>
        </node>

        <!-- 启动uav_control_main -->
        <node pkg="uav_control" type="px4_pos_controller" name="px4_pos_controller" output="screen">
            <param name="rate_hz" value="$(arg rate_hz)"/>

            <rosparam command="load" file="$(find uav_control)/config/uav_control_indoor.yaml"/>
        </node>

        <!-- 启动虚拟摇杆驱动 -->
        <include file="$(find uav_control)/launch/joy_node.launch"/>

        <!-- run the terminal_control.cpp -->
        <node pkg="uav_control" type="terminal_control" name="terminal_control" output="screen" launch-prefix="gnome-terminal --">
            <rosparam command="load" file="$(find uav_control)/config/uav_control_indoor.yaml"/>
        </node>
</launch>
